


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
        }

        .card {
            flex-basis: 30%;
            width: 300px;
            margin: 10px;
            padding: 10px;
            background-color: antiquewhite;
            border: 1px solid #0643b5;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }

        body {
  background-image: url('Untitled design.png');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;

          
        }
        nav {
            overflow: hidden;
        }

        nav a.logo {
            float: left;
            margin-left: 49px;
            margin-top: 4vh;
            padding: 16px;
            color: black;
            text-decoration: none;
            font-size: 20px;
            background-color: antiquewhite;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: right;
        }

        nav ul li {
            float: left;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #111;
        }
        .bn7 {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: antiquewhite;
        padding: 0.3em 1.2em;
        border-radius: 30px;
        font-size: 1.2rem;
        color: #000000;
        background-size: 100% 100%;
        }


    </style>
</head>
<body>
    <div>
        <nav>
            <a href="http://localhost:5002/HeaderFooter" class="logo bn7">Explore</a>

        </nav>
          
    
    </div>
</body>
</html>