<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta htth4-equiv="X-UA-Comh4atible" content="IE=edge" />
    <meta name="viewh4ort" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        height: 250px;
        width: 250px;
        margin: 20px;
      }
      .imagee {
        text-align: center;
      }
      h3 {
        text-align: center;
      }
      p {
        text-align: center;
        color: black;
      }
      li {
        list-style: none;
      }
      .container {
        margin: 100px;
        /* border: solid 1.3px; */
      }
      .color1,.color2,.color3,.color4,.color5{
        border: solid transparent 1px;
        border-radius: 12px;
      }
      @keyframes move-left-to-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  /* keyframes for moving div from right to left */
  @keyframes move-right-to-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  nav{
    float: right;
    margin-top: -90px;
    margin-right: 40px;
  }

  /* animation for moving first div from left to right */
  .color1 {
    animation: move-left-to-right 5s ease-out forwards;
  }

  /* animation for moving second div from right to left */
  .color2 {
    animation: move-right-to-left 5s ease-out forwards;
  }
  .bn7 {
        cursor: pointer;
        outline: none;
        border: none;
        background-color: #ffffff;
        padding: 0.3em 1.2em;
        border-radius: 30px;
        font-size: 1.2rem;
        color: #000000;
        background-size: 100% 100%;
        }
        nav {
            overflow: hidden;
        }

        nav a.logo {
            float: left;
            margin-left: 1000px;
            padding: 16px;
            color: black;
            text-decoration: none;
            font-size: 20px;
            background-color: orange;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            float: right;
        }

        nav ul li {
            float: left;
        }

        nav ul li a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #111;
        }
        body{
            background-color: beige;
        }
    </style>
  </head>
  <body>
    <nav>
        <a href="http://localhost:5002/HeaderFooter" class="logo bn7">Home</a>
    </nav>
    <div class="container">
        <div class="color1" style="background-color: #CB997E;">
        <h3 style="text-align: center;">The dog king breed of India - The Indian Street dog or "Indie"</h3>
        <div class="imagee"style="text-align:center;">
        <img src="indie1.webp" />
        </div>
        </div>
            <div class="color2" style="background-color: #E2A499;"><h3 style="text-align: center;">
            Strong, lively, and very adaptable. Do you need anything else?
          </h3>
          <p style="text-align: center;">
            Forever disregarded as the scum of the street, Indies are making a
            comeback. And for good reason too.
          </p>
        <div class="imagee" style="text-align: center;">
          <img src="indie3.jpg" >
        </div>
    </div>

      <div class="color3" style="background-color: orange;">
        <h3 >The myth behind the Indie dog</h3>       
          <h3>
            They are everywhere on the street, so they can't be cool right?
          </h3>
          <p>
            Indie dogs come with a bad rap. Similar to the bad reputation that
            the "Pitbull" breed in America suffers from. Indie dogs are known to
            be lowest rung in the dog breed ladder, and often thought of as a
            dangerous breed to have inside the house. This couldn't be further
            from the truth.
          </p>
          <div class="imagee">
            <img src="indie2.jpg" />
          </div>
        </div>
        <!-- <div class="imagee" style="text-align: left;">
          <img src="dogreal1.png" />
        </div> -->
        <div class="color4" style="background-color:#E68267;">
        <h3>Top 3 Indie dog myths</h3>
        <ul>
          <li><h3 style="text-align: left;">Indie dogs are more prone to rabies</h3></li>
          <div>
            <p>
              This is not true. They are just as much or just as less prone to
              rabies as any other breed of dogs. However, when you adopt a puppy
              make sure you vaccinate the puppy properly and go through the
              correct medical steps the first few months. This is true of any
              breed of dog.
            </p>
          </div>
          <li><h3 style="text-align: left;">Indie Dogs will run away on the street soon</h3></li>
          <div>
            <p>
              Indie dogs are one of the most loyal breeds. They will not abandon
              you and run away to the street. However, you have to make sure you
              sterilize your pet. If not, during mating season, it is possible
              that your dog will try to satisfy his needs, if you know what we
              mean. We highly recommding sterilization of any dog, be it breed
              or Indie.
            </p>
          </div>
          <li><h3 style="text-align: left;">My friends will look down on me if I have indie dog</h3></li>
          <div>
            <p>
              Change your friends then! 🤣 Just kidding. This trend is changing.
              Its no longer a shameful thing to have an Indie dog be your best
              friend. In fact it is considered very cool as nothing else
              portrays your true inner self like the pet you have. National
              geographic did a beautiful articule on this trend which captures
              the spirit of adopting Indie's. But leave that aside. Ask
              yourself. Do you want to look cool, or actually, be cool? Yup.
              That's what we thought. 🙌 We love golden retrievers and labradors
              and beagles to bits. It's just that we just love Indie dogs a
              little bit more.
            </p>
          </div>
        </ul>
    </div>
    <div class="color5" style="background-color: #abd6e4;">
        <h3 >Is the Indie the right breed for me?
        </h3>       
          <h3>
            Indie dogs have some characteristics that help them stand out for the Indian sub continent. Some of the characteristics will help them stand out among other breeds.
          </h3>
          <ul>
            <li><h4>They are well-adapted to the local climate and environment</h4></li>
            <li><h4>They are typically healthier</h4></li>
            <li><h4>They are often low-maintenance</h4></li>
            <li><h4>They are easily available for adoption</h4></li>
          </ul>
        </div>
    </div>
  </body>
</html>